---
import '../styles/global.css';

import Themes from 'astro-themes';
import {ClientRouter} from 'astro:transitions';

import {Navbar5} from '@/components/navbar5';

const {title} = Astro.props;
---

<html lang="en">
    <head>
        <Themes />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ClientRouter />
    </head>
    <body>
        <Navbar5 client:load />
        <slot />
    </body>
</html>
